/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.btn, .bbcodes {
		display: block;
		margin: 8px !important;
	}
	.logo_top a img {
		display: block;
	}
	.analog_it_iner_puncts a {
		display: block;
	}
	.analog_it_iner_puncts {
		
		height: auto;
		
	}
	.top_menu {
		margin-top: 20px;
		padding: 0;
		display: block;
		justify-content: space-around;
	}
	.top_menu a {
		color: #102054;
		font-family: 'Circe Light', sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		border-radius: 22px;
		border: 2px solid #a7ec14;
		padding: 10px;
		width: 90%;
		display: block;
		margin: 5px auto;
	}
	.top_menu a:not(:first-child) {
		/* margin-left: 5px; */
		margin: 5px auto;
	}
	#sbmt_top {
		width: auto;
		height: 53px;
		
		position: absolute;
		right: 5px;
	}
	.alphabet_links a {
		
		font-size: 10px;
		
		
	}
	.popular_drug_item {
		width: 95%;
		margin: 5px auto;
	}
	.popular_drug_item:not(:first-child) {
		margin: 5px auto;
	}
	.news_item_body {
		width: 100%;
		height: auto;
		
	}
	.news_item_body p {
		color: #ffffff;
		font-size: 15px;
		font-family: 'Circe Extra Light', sans-serif;
		font-weight: 400;
		/* line-height: 25px; */
		display: inline-block;
		width: 95%;
		margin-left: 15px;
		margin-top: -5px;
		padding: 18px;
	}
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}